<footer class="bg-dark text-center text-lg-start">
  <hr>
  <ul class="bd-footer-links">
    <li style="display: inline; padding: 40px"><a class="btn btn-dark"style="background-color: #F93C00; color: white" [routerLink]="['women']">Women</a></li>
    <li style="display: inline; padding: 40px"><a class="btn btn-dark"style="background-color: #F93C00; color: white" [routerLink]="['men']">Men</a></li>
    <li style="display: inline; padding: 40px"><a class="btn btn-dark" style="background-color: #F93C00; color: white" [routerLink]="['kids']">Kids</a></li>
    <li style="display: inline; padding: 40px"><a class="btn" style="background-color: #F93C00; color: white" [routerLink]="['']">Log In</a></li>
  </ul>
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase"><b>Delivery with fitting</b></h5>
        <p>
          All clothes and shoes can be tried on before buying. To do this, you do not need to go to the store: the courier himself will bring the desired sizes and styles. The buyer can only turn around in front of the mirror and make a choice. OBI-WAN delivers goods throughout Kazakhstan free of charge. Our own delivery service operates in 15 major cities. In these cities, the order will arrive either on the same day or the next.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase"><b>Payment and return</b></h5>
        <p>
          For the convenience of customers, you can pay for the goods in any way: in cash to the courier, by credit card online.
          Each OBI-WAN courier has a mobile payment terminal, so you can pay by card even at home at the time of order delivery. Return of goods is possible within 14 days after purchase.
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-light" href="https://mdbootstrap.com/">@Done by Nurs</a>
    <p>{{ myDate | date: 'dd-MM-yy\n' + 'HH:mm' }}</p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
