<div class="container mt-5 w-100" style="margin-left: 15%">
  <h3 class="text-center p-3">Delivery</h3>
  <div class="row">
    <div class="card w-100 text-white bg-dark col-6" style="max-width: 18rem;">
      <div class="container p-3">
        <div class="card-header border border-warning "><h3 style="color: #c7a254">Delivery</h3></div>
        <div class="card-body border border-warning p-4">
          <h4 class="card-title" style="color: #bdecb6">Monday - Friday</h4>
          <p class="card-text">09:00 - 12:00</p>
          <p class="card-text">13:00 - 00:00</p>
          <hr>
          <h4 class="card-title" style="color:#bdecb6;">Saturday - Sunday</h4>
          <p class="card-text">10:00 - 13:00</p>
          <p class="card-text">14:00 - 03:00</p>
        </div>
      </div>
    </div>
    <div class="col-6 p-5 border border-secondary" style="margin-left: 5%">
      <form class=" w-100">
        <div class="form-group">
          <label for="exampleInputEmail1">Email Address:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputName">Enter Name:</label>
          <input type="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label for="exampleInputPartySize">Code of delivery</label>
          <input type="PartySize" class="form-control" id="exampleInputPartySize" placeholder="Code of delivery">
        </div>
        <div class="form-group">
          <label for="exampleInputPhone">Enter Phone:</label>
          <input type="number" class="form-control" id="exampleInputPhone" aria-describedby="phoneHelp" placeholder="Enter Phone ">
        </div>
        <div class="form-group">
          <label >Date</label>
          <input type="date" name="bday" max="3000-12-31"
                 min="1000-01-01" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 80%">Submit</button>
      </form>
    </div>
  </div>
</div>
