<div>
  <nav class="navbar navbar-dark bg-dark">
  </nav>
</div>
<div style="width: 90%;margin-left: auto;
  margin-right: auto;" id="carouselExampleSlidesOnly" class="center carousel slide " data-ride="carousel">
  <h2 class="text-center" style="font-family: 'Acme', sans-serif;" >Men clothes</h2>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.pinimg.com/originals/69/1c/ce/691cce239f8c130d94e2eaa6e6d3e3ed.jpg" class="d-block w-100" style="width: auto; height: auto" alt="...">
    </div>
  </div>
</div>


<hr>
<div class="" style="margin-left: 5%; width:90% ">
  <div class="" style="margin-left: 5%; width:90% ">
    <h3 class="text-left p-3">Popular outerwear</h3>
    <div class="row">
      <div class="col">
        <div class="product-grid5">
          <div class="product-image5">
            <a href="men">
              <img class="pic-1" src="https://a.lmcdn.ru/img600x866/M/P/MP002XM1H39V_13239513_2_v1.jpeg">
              <img class="pic-2" src="https://a.lmcdn.ru/img600x866/M/P/MP002XM1H39V_13239515_3_v1.jpeg">
            </a>
            <ul class="social">
              <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
              <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
            <a href="women" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
          </div>
          <div class="product-content">
            <h3 class="title text-center"><a href="men">T-shirt</a></h3>
            <div class="price text-center">5,800 tg</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="product-grid5">
          <div class="product-image5">
            <a href="men">
              <img class="pic-1" src="https://a.lmcdn.ru/img600x866/R/T/RTLAAA054701_13151312_1_v1.jpg">
              <img class="pic-2" src="https://a.lmcdn.ru/img600x866/R/T/RTLAAA054701_13151314_3_v1.jpg">
            </a>
            <ul class="social">
              <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
              <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
            <a href="men" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
          </div>
          <div class="product-content">
            <h3 class="title text-center"><a href="men">Hoodie</a></h3>
            <div class="price text-center">22,500 tg</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="product-grid5">
          <div class="product-image5">
            <a href="men">
              <img class="pic-1" src="https://a.lmcdn.ru/img600x866/R/T/RTLAAA092901_13340668_1_v1_2x.jpg">
              <img class="pic-2" src="https://a.lmcdn.ru/img600x866/R/T/RTLAAA092901_13340670_3_v1_2x.jpg">
            </a>
            <ul class="social">
              <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
              <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
            <a href="women" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
          </div>
          <div class="product-content">
            <h3 class="title text-center"><a href="men">Sweater</a></h3>
            <div class="price text-center">17,800 tg</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="product-grid5">
          <div class="product-image5">
            <a href="men">
              <img class="pic-1" src="https://a.lmcdn.ru/img600x866/A/D/AD093EMLWYH7_13958560_2_v1_2x.jpg">
              <img class="pic-2" src="https://a.lmcdn.ru/img600x866/A/D/AD093EMLWYH7_13958561_3_v1_2x.jpg">
            </a>
            <ul class="social">
              <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
              <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
            <a href="men" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
          </div>
          <div class="product-content">
            <h3 class="title text-center"><a href="men">Hoodie</a></h3>
            <div class="price text-center">15,600 tg</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="product-grid5">
          <div class="product-image5">
            <a href="men">
              <img class="pic-1" src="https://a.lmcdn.ru/img600x866/M/P/MP002XM1H9ZT_13545488_2_v1.jpeg">
              <img class="pic-2" src="https://a.lmcdn.ru/img600x866/M/P/MP002XM1H9ZT_13545489_4_v1.jpeg">
            </a>
            <ul class="social">
              <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
              <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
            <a href="men" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
          </div>
          <div class="product-content">
            <h3 class="title text-center"><a href="men">Shirt</a></h3>
            <div class="price text-center">8,999 tg</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<hr>
<div>

  <div class="" style="margin-left: 0%; width:100% ">
    <div class="" style="margin-left: 5%; width:90% ">
      <h3 class="text-left p-3">Popular trousers</h3>
      <div class="row">
        <div class="col">
          <div class="product-grid5">
            <div class="product-image5">
              <a href="men">
                <img class="pic-1" src="https://a.lmcdn.ru/img600x866/R/T/RTLAAC367901_13456911_2_v1.jpg">
                <img class="pic-2" src="https://a.lmcdn.ru/img600x866/R/T/RTLAAC367901_13456910_1_v1.jpg">
              </a>
              <ul class="social">
                <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
              <a href="women" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
            </div>
            <div class="product-content">
              <h3 class="title text-center"><a href="men">Track pants</a></h3>
              <div class="price text-center">8,800 tg</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="product-grid5">
            <div class="product-image5">
              <a href="men">
                <img class="pic-1" src="https://a.lmcdn.ru/img600x866/T/O/TO172EMMDFO6_13390663_1_v1_2x.jpg">
                <img class="pic-2" src="https://a.lmcdn.ru/img600x866/T/O/TO172EMMDFO6_13390665_3_v1_2x.jpg">
              </a>
              <ul class="social">
                <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
              <a href="men" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
            </div>
            <div class="product-content">
              <h3 class="title text-center"><a href="men">Marvin Jeans</a></h3>
              <div class="price text-center">15,500 tg</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="product-grid5">
            <div class="product-image5">
              <a href="men">
                <img class="pic-1" src="https://a.lmcdn.ru/img600x866/R/T/RTLAAC314901_13444249_2_v1.jpg">
                <img class="pic-2" src="https://a.lmcdn.ru/img600x866/R/T/RTLAAC314901_13444250_3_v1.jpg">
              </a>
              <ul class="social">
                <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
              <a href="men" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
            </div>
            <div class="product-content">
              <h3 class="title text-center"><a href="men">Sports Pants UA Rival Fleece Joggers</a></h3>
              <div class="price text-center">24,300 tg</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="product-grid5">
            <div class="product-image5">
              <a href="men">
                <img class="pic-1" src="https://a.lmcdn.ru/img600x866/H/E/HE002EMMMFP7_13104969_1_v1.jpg">
                <img class="pic-2" src="https://a.lmcdn.ru/img600x866/H/E/HE002EMMMFP7_13104971_3_v1.jpg">
              </a>
              <ul class="social">
                <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
              <a href="men" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
            </div>
            <div class="product-content">
              <h3 class="title text-center"><a href="men">Jeans-JUDE</a></h3>
              <div class="price text-center">12,600 tg</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="product-grid5">
            <div class="product-image5">
              <a href="men">
                <img class="pic-1" src="https://a.lmcdn.ru/img600x866/U/N/UN012EMMHFR5_13956413_1_v1_2x.jpg">
                <img class="pic-2" src="https://a.lmcdn.ru/img600x866/U/N/UN012EMMHFR5_13956415_3_v1_2x.jpg">
              </a>
              <ul class="social">
                <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
              <a href="men" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
            </div>
            <div class="product-content">
              <h3 class="title text-center"><a href="men">United Colors of Benetton</a></h3>
              <div class="price text-center">27,999 tg</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <hr>


<div class="" style="margin-left: 5%; width:90% ">
  <h2 class="text-center" style="font-family: 'Acme', sans-serif;" >Accessories for men</h2>
  <div class="row">
    <div class="col">
      <div class="product-grid5">
        <div >
          <a routerLink="/men">
            <img class="pic-1" src="https://likebags.com.ua/upload/resize_cache/iblock/7dc/256_256_18d44a624cc850fab4c44b460da896c26/koshelek_klatch_muzhskoy_kp_54339.jpg" >
          </a>
          <ul class="social">
            <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="men" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a routerLink="/men">Men's purse</a></h3>
          <div class="price text-center">25.000tg</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div >
          <a routerLink="/men">
            <img class="pic-1" src="https://img.sport-hall.ru/thumb/41/793093-0.jpg">
          </a>
          <ul class="social">
            <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="women" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a routerLink="/men">Сap</a></h3>
          <div class="price text-center">5.000tg</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div >
          <a routerLink="/men">
            <img class="pic-1" src="https://likebags.com.ua/upload/resize_cache/iblock/d5d/256_256_18d44a624cc850fab4c44b460da896c26/klassicheskiy_remen_muzhskoy_rk5502060.jpg">
          </a>
          <ul class="social">
            <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="women" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a routerLink="/men">Leather belt</a></h3>
          <div class="price text-center">15.990tg</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div >
          <a routerLink="/men">
            <img class="pic-1" src="https://img.prestige-watch.ru/thumb/38/393425-0.jpg">
          </a>
          <ul class="social">
            <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="men" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a routerLink="/men">Original watch "Citizen"</a></h3>
          <div class="price text-center">99.000tg</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div >
          <a routerLink="/men">
            <img class="pic-1" src="https://cdn.shopify.com/s/files/1/0253/5368/3007/products/green-sunglasses-black-temple-arms-3375_256x.jpg?v=1607932399">
          </a>
          <ul class="social">
            <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="men" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a routerLink="/men">Sunglasses "Gucci"</a></h3>
          <div class="price text-center">22.500tg</div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

  <div class="" style="margin-left: 0%; width:100% ">
    <div class="" style="margin-left: 5%; width:90% ">
      <h3 class="text-left p-3">Popular shoes</h3>
      <div class="row">
        <div class="col">
          <div class="product-grid5">
            <div class="product-image5">
              <a href="men">
                <img class="pic-1" src="https://a.lmcdn.ru/img600x866/A/D/AD002AMJYMA2_11576771_2_v3.jpg">
                <img class="pic-2" src="https://a.lmcdn.ru/img600x866/A/D/AD002AMJYMA2_11576772_3_v3.jpg">
              </a>
              <ul class="social">
                <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
              <a href="women" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
            </div>
            <div class="product-content">
              <h3 class="title text-center"><a href="men">Adidas</a></h3>
              <div class="price text-center">25,800 tg</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="product-grid5">
            <div class="product-image5">
              <a href="men">
                <img class="pic-1" src="https://a.lmcdn.ru/img600x866/R/E/RE005AMJMET7_11528071_1_v1.jpg">
                <img class="pic-2" src="https://a.lmcdn.ru/img600x866/R/E/RE005AMJMET7_11528073_3_v1.jpg">
              </a>
              <ul class="social">
                <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
              <a href="men" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
            </div>
            <div class="product-content">
              <h3 class="title text-center"><a href="men">Reebok</a></h3>
              <div class="price text-center">56,500 tg</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="product-grid5">
            <div class="product-image5">
              <a href="men">
                <img class="pic-1" src="https://a.lmcdn.ru/img600x866/M/P/MP002XM1HI7P_13975491_2_v1.jpeg">
                <img class="pic-2" src="https://a.lmcdn.ru/img600x866/M/P/MP002XM1HI7P_13975492_3_v1.jpeg">
              </a>
              <ul class="social">
                <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
              <a href="men" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
            </div>
            <div class="product-content">
              <h3 class="title text-center"><a href="men">Moccasins</a></h3>
              <div class="price text-center">48,000 tg</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="product-grid5">
            <div class="product-image5">
              <a href="men">
                <img class="pic-1" src="https://a.lmcdn.ru/img600x866/D/R/DR004AMFL814_8056938_2_v1.jpg">
                <img class="pic-2" src="https://a.lmcdn.ru/img600x866/D/R/DR004AMFL814_8056939_3_v1.jpg">
              </a>
              <ul class="social">
                <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
              <a href="men" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
            </div>
            <div class="product-content">
              <h3 class="title text-center"><a href="men">Boots</a></h3>
              <div class="price text-center">87,600 tg</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="product-grid5">
            <div class="product-image5">
              <a href="men">
                <img class="pic-1" src="https://a.lmcdn.ru/img600x866/U/N/UN012EMMHFR5_13956413_1_v1_2x.jpg">
                <img class="pic-2" src="https://a.lmcdn.ru/img600x866/U/N/UN012EMMHFR5_13956415_3_v1_2x.jpg">
              </a>
              <ul class="social">
                <li><a href="men" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                <li><a href="men" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
              <a href="men" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
            </div>
            <div class="product-content">
              <h3 class="title text-center"><a href="men">United Colors of Benetton</a></h3>
              <div class="price text-center">27,999 tg</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
<div class="" style="width: 100%;margin-left: -2%">
</div>
<div class="album py-5 mt-3">
</div>


